body {
    background-color: #333;
    color:#FFF;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}
.container {
    width:98%;
    height: 98vh;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    gap: 0.5vh;
}
.container > * {
    flex: 0 1 50%;
}
.container #collab-section {
    flex: 1 0 50%;
    display: flex;
    gap: 0.5vh;
    max-height: 50vh;
}
.container #collab-section #tracks-section {
    display: flex;
    flex-direction: column;
    flex: 2 1 70%;
}
.container #collab-section #messages-section {
    display: flex;
    flex-direction: column;
    flex: 1 1 30%;
}
.container #track-editor-section {
    width:100%;
    display:flex;
    flex-direction: column;
}
.container #track-editor-section > #script-editor {
    flex: 1 0 20%;
}
.container #track-editor-section > #track-editor {
    margin-top: 0.5vh;
    flex: 2 1 80%;
}


button {
    border: none;
    padding: 0 1rem;
    flex-grow: 1;
    border-radius: 2rem;
    margin: 0.25rem;
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y:auto;
}

#messages>li {
    padding: 0.5rem 1rem;
}

#messages>li:nth-child(odd) {
    background: #efefef;
}

#messages>li.me {
    background: #007bff;
    color: #fff;
}

.section-header {
    display:flex;
    align-items: center;
}
.section-header > * {
    padding: 5px;
    margin: 3px;
    flex:0 0 auto;
}

#tracks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-y:scroll;
}

#tracks>li {
    background: #666;
    color: #000;
    padding: 0 0.5rem;
}

#tracks>li:nth-child(odd) {
    background: #777;
    color: #000;
}
#tracks>li>.track, #tracks>li>.script {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
} 

#tracks>li.me {
    background: #007bff;
    color: #fff;
}

textarea#script-editor {
    height:5vh;
}
textarea {
    width: 100%;
    color:#000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    border: 0;
    background: #eee;
    outline: none;
    padding: 0;
}